.toolbar {
  font-size: 14px;
  position: fixed;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 9999;
  background-color: #323639;
}

.toolbar-item {
  flex: 1 1 0px;
}

.center, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.center {
  justify-content: center;
}

.right {
  justify-content: right;
  gap: 8px;
}

.vertical-separator {
  display: block;
  height: 16px;
  border-left: 1px solid #ffffff4d;
}

.zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.toolbar button {
  cursor: pointer;
}

.input-page {
  margin-right: 2px;
  width: 20px;
  text-align: center;
  color: #FFFFDE;
  background-color: #323639;
  border: 1px solid white;
  padding: 4px;
}

.zoom-percentage {
  display: inline-block;
  min-width: 35px;
  text-align: center;
}

.input-page:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
