ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pdf-container {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: 100vh;
}

.pdf-viewer {
  margin-top: 56px;
}

.page-divider {
  margin-top: 10px;
}

div[data-page-number] {
  scroll-margin-top: 56px;
}
