.toolbar {
  font-size: 14px;
  position: fixed;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 9999;
  background-color: #323639;
}

.center, .right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right {
  gap: 8px;
}

.vertical-separator {
  display: block;
  height: 16px;
  border-left: 1px solid #ffffff4d;
}

.zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
